body {
	
	background-color: #fff4bb;
	
}

#table-design {
	
	margin: 15px;
	border: 1px solid #e3e3e3;
	width: 80%;
	border-radius: 10px;	
	font-family: Gill Sans;
	background-color: #99bbff;
	margin-left: 10%;
	margin-right: 10%;
	
}

#table-design thead th {
	
	font-weight: normal;
	padding: 5px;
	
}

#table-design td {
	
	padding: 5px;
	margin: 5px;
	background-color: #fff4dd;
	border: 1px solid #99bbff;
	color: #000044;
	text-align: right;

	
}